.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
    color: black;
}
table th{
    background-color: #e6e3e3;
}
table th:first-child{
    border-top-left-radius:10px;
}  
table th:last-child{
    border-top-right-radius:10px;
}
tr {
    border-bottom: 1px solid #ccc;
}
    